@charset "UTF-8";

@font-face {
    font-family: "yugi-card";
    src: url("../fonts/Yu-Gi-Oh! Matrix Regular Small Caps 2.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


:root {
    --fonte-titulos: "yugi-card", serif;
    --fonte-texto: 'Roboto', sans-serif;

    --cor0: #d6bd8d;
    --cor1: #7e2016;
    --cor2: #3b0a04;
    --cor3: #220603;
    --cor4: #130301;
    --corTexto: rgb(46, 44, 44);
}

label h3 {
    display: inline;
    margin-right: 10px;
}

#selectPlayerMobile {
    text-align: center;
}

#playerMobile {
    display: inline;
    margin: 20px 0px;
    padding: 0px 10px;
    background-color: var(--cor2);
    color: var(--cor0);
    text-align: center;
    font-family: var(--fonte-titulos);
    font-size: 25px;
}

#jao-decks {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

#tila-decks {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

#rob-decks {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

#vi-decks {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

#fah-decks {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

#feh-decks {
    display: none;
    justify-content: center;
    flex-wrap: wrap;
}

#deckIcons {
    display: block;
    text-align: center;
}

#deckIcons img {
    border-radius: 20px;
    margin: 5px 5px;
}

.deckArea {
    display: none;
}


#deckIcons h4 {
    margin: 20px;
}

.deckArea {
    background-color: white;
}

.description {
    display: flex;
    flex-direction: column;
}

.description>h2 {
    color: var(--cor1);
    font-family: var(--fonte-titulos);
    font-weight: normal;
    font-size: 50px;
}

.description>p {
    color: var(--corTexto);
    font-family: var(--fonte-titulos);
    font-size: 20px;
}

.description strong {
    color: var(--cor4);
    font-size: 20px;
}

.deckImage>h2 {
    color: var(--cor2);
    font-family: var(--fonte-titulos);
    font-weight: normal;
    font-size: 25px;
}


.deckText>h2,
.deckText>h3 {
    text-align: center;
    font-weight: normal;
}

.deckText>p {
    padding: 10px;
    font-size: 1.1em;
}
