@charset "UTF-8";

:root {
    --fonte-titulos: "name-card", serif;
    --fonte-texto: "effect-card", serif;
    --fonte-obs: "normal-card", serif;

    --cor0: #d6bd8d;
    --cor1: #7e2016;
    --cor2: #3b0a04;
    --cor3: #220603;
    --cor4: #130301;
}

@media screen and (max-width: 425px) {
    header .container-base{
        flex-direction: column;
    }

    header .container-base nav {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-top: 10px;
    }

    header .menu-burguer {
        display: flex;
        font-size: 35px;
        color: var(--cor0);
    }

    .champion-banner {
        height: 300px;
    }

    .champion-banner h1 {
        font-size: 35px;
    }

    .champion-banner h2 {
        font-size: 35px;
    }
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    header .container-base{
        flex-direction: column;
    }

    header .container-base nav {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-top: 10px;
    }

    header .menu-burguer {
        display: flex;
        font-size: 35px;
        color: var(--cor0);
    }

    .champion-banner {
        height: 350px;
    }

    .champion-banner h1 {
        font-size: 45px;
    }

    .champion-banner h2 {
        font-size: 40px;
    }
}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    header .container-base{
        flex-direction: column;
    }
}