@charset "UTF-8";

:root {
    --cor0: #d6bd8d;
    --cor1: #7e2016;
    --cor2: #3b0a04;
    --cor3: #220603;
    --cor4: #130301;
}

@media screen and (max-width: 425px) {
    header .container-base {
        flex-direction: column;
    }

    header .container-base nav {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-top: 10px;
    }

    header .menu-burguer {
        display: flex;
        font-size: 35px;
        color: var(--cor0);
    }

    .champion-banner {
        height: 300px;
    }

    .champion-banner h1 {
        font-size: 2.5em;
    }

    .champion-banner h2 {
        font-size: 2em;
    }

    h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.5em;
    }

    footer {
        font-size: 15px;
    }

    /* paginas deck */
    .container-deck {
        flex-wrap: wrap;
    }

    /* pagina resultados */
}

@media screen and (min-width: 426px) and (max-width: 768px) {
    header .container-base {
        flex-direction: column;
    }

    header .container-base nav {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 10px;
        padding-top: 10px;
    }

    header .menu-burguer {
        display: flex;
        font-size: 35px;
        color: var(--cor0);
    }

    .champion-banner {
        height: 350px;
    }

    .champion-banner h1 {
        font-size: 3em;
    }

    .champion-banner h2 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 2.2em;
    }

    h3 {
        font-size: 1.5em;
    }

    footer {
        font-size: 15px;
    }

    /* paginas deck */
    .container-deck {
        flex-wrap: wrap;
    }

    /* pagina resultados */
    .all-decks figure {
        width: 120px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    header .container-base {
        flex-direction: column;
    }

    .champion-banner h1 {
        font-size: 4em;
    }

    .champion-banner h2 {
        font-size: 3em;
    }
}