/* Gerais */
@charset "UTF-8";

@font-face {
    font-family: "yugi-card";
    src: url("../fonts/Yu-Gi-Oh! Matrix Regular Small Caps 2.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


:root {
    --fonte-titulos: "yugi-card", serif;
    --fonte-texto: 'Roboto', sans-serif;

    --cor0: #d6bd8d;
    --cor1: #7e2016;
    --cor2: #3b0a04;
    --cor3: #220603;
    --cor4: #130301;
    --corTexto: rgb(46, 44, 44);
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    background-color: var(--cor0);
    color: var(--corTexto);
}

.container-base {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

li {
    list-style-type: none;
}

/* Header */
header {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    padding: 10px 0px;
}

header .container-base {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container-base figure img {
    width: 300px;
}

header .container-base nav {
    display: flex;
    gap: 15px;
}

header .container-base nav a {
    color: white;
    text-decoration: none;
    font-family: var(--fonte-titulos);
    font-weight: normal;
    font-size: 25px;
    border-bottom: 2px solid transparent;
}

header .container-base nav a:hover {
    color: var(--cor0);
    border-bottom: 2px solid var(--cor0);
}

header .menu-burguer {
    display: none;
}

/* Banner campeão */
.champion-banner {
    width: 100%;
    height: 350px;
    background: black url(../images/champion.png) no-repeat top center fixed;
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.champion-banner h1 {
    font-family: var(--fonte-titulos);
    font-weight: bold;
    color: white;
    font-size: 50px;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.788);
}

/* article principal */

.conteudo-principal {
    width: 100%;
    background-color: white;
    padding: 10px 0px;
    font-family: var(--fonte-texto);
    padding: 0px 10px 40px;
}

h2 {
    margin: 20px 0px;
    color: var(--cor2);
    font-weight: normal;
    text-align: center;
    font-size: 45px;
    font-family: var(--fonte-titulos);
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.521);
}

.conteudo-principal p, .conteudo-principal li {
    max-width: 900px;
    margin: 0px auto;
    margin-bottom: 10px;
    line-height: 25px;
}

.conteudo-principal p {
    text-indent: 20px;
    padding: 0px 10px;
}

.conteudo-principal strong {
    font-family: var(--fonte-titulos);
    font-weight: normal;
    font-size: 22px;
    color: #7e2016;
}

.conteudo-principal span {
    text-decoration: underline;
    padding: 5px;
    font-family: var(--fonte-titulos);
    font-weight: normal;
    font-size: 22px;
}

footer {
    background-image: linear-gradient(to bottom, var(--cor4), var(--cor1));
    color: white;
    text-align: center;
}

footer p {
    padding: 5px 0px;
}