@charset "UTF-8";

@font-face {
    font-family: "name-card";
    src: url("../fonts/Yu-Gi-Oh! Matrix Regular Small Caps 2.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "effect-card";
    src: url("../fonts/Yu-Gi-Oh! Matrix Book.otf") format("opentype"), url("../fonts/Yu-Gi-Oh! Matrix Book.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "normal-card";
    src: url("../fonts/Yu-Gi-Oh! ITC Stone Serif LT Italic.otf") format("opentype"), url("../fonts/Yu-Gi-Oh! ITC Stone Serif LT Italic.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "type-card";
    src: url("../fonts/Yu-Gi-Oh! ITC Stone Serif Small Caps Bold.otf") format("opentype"), url("../fonts/Yu-Gi-Oh! ITC Stone Serif Small Caps Bold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "edition-card";
    src: url("../fonts/Stone Serif Semibold.otf") format("opentype"), url("../fonts/Stone Serif Semibold.ttf") format("truetype");
    font-weight: normal;
}

:root {
    --fonte-titulos: "name-card", serif;
    --fonte-menus: "type-card", serif;
    --fonte-texto: "effect-card", serif;
    --fonte-rodape: "edition-card", serif;
    --fonte-obs: "normal-card", serif;

    --cor0: #bb9d66;
    --cor1: #A65729;
    --cor2: #941e1e;
    --cor3: #400601;
    --cor4: #130200;

    --widthPq: 125px;
    --widthGr: 250px;
    --heightPq: 125px;
    --heightGr: 250px;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
}

header {
    height: 90px;
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor3), var(--cor4));
    padding-top: 20px;
}

header>h1 {
    font: normal 3.5em var(--fonte-titulos);
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.473);
}

nav {
    text-align: center;
    background-color: var(--cor4);
    padding: 6px 0px;
}

nav>a {
    font: normal 1.1em var(--fonte-titulos);
    font-weight: normal;
    font-size: 2em;
    color: var(--cor0);
    text-decoration: none;
    padding: 4px;
}

nav a:hover {
    background-color: var(--cor0);
    color: var(--cor3);
    border-radius: 5px;
    transition-duration: 0.5s;
}

main {
    background-color: white;

    margin: auto;
    margin-bottom: 20px;
    padding: 10px;
    min-width: 300px;
    max-width: 1000px;

    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.192);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

.h2class {
    font-family: var(--fonte-titulos);
    font-weight: normal;
    font-size: 3em;
    color: var(--cor2);
}

article ul {
    list-style-position: inside;
}

article li {
    padding: 5px 0px;
    line-height: 1.2em;
    font-family: var(--fonte-texto);
    font-size: 1.07em;
}

#banlist {
    text-decoration: none;
    background-color: var(--cor0);
    color: var(--cor2);
    padding: 0px 5px;
    font-weight: bold;
}

footer {
    text-align: center;
    font-family: var(--fonte-rodape);
    font-weight: normal;
    font-size: 0.8em;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor4));
    color: white;
}

footer>p {
    padding: 5px 0px;
    line-height: 1.1em;
}

footer span {
    padding-right: 2px;
}

.footer-status:hover {
    background-color: var(--cor0);
    color: black;
    padding-right: 2px;
}

#criado:hover {
    background-color: var(--cor0);
    color: black
}

/*CSS Exclusivos pagina Decks*/

#deckNav>h3 {
    font-family: var(--fonte-rodape);
    padding-bottom: 20px;
}

#deckNav label {
    font-family: var(--fonte-texto);
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    margin: auto;
    margin-right: 8px;
}

#deckNav p {
    text-align: center;
}

#btn {
    margin-top: 15px;
    font-family: var(--fonte-titulos);
    font-size: 2em;
    padding: 3px;
    background-color: var(--cor0);
    color: var(--cor2);
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.349);
}

#btn:hover {
    background-color: var(--cor1);
    color: var(--cor3);
}

picture {
    padding-right: 5px;
}

img {
    border-radius: 20px;
}

#deckIcons {
    margin-top: 10px;
}

#jao-decks{
    padding: 20px;
    display: none;
    text-align: center;
}

#tila-decks{
    padding: 20px;
    display: none;
    text-align: center;
}

#rob-decks {
    padding: 20px;
    display: none;
    text-align: center;
}

#vi-decks {
    padding: 20px;
    display: none;
    text-align: center;
}

#fah-decks {
    padding: 20px;
    display: none;
    text-align: center;
}

#feh-decks {
    padding: 20px;
    display: none;
    text-align: center;
}