@charset "UTF-8";

@font-face {
    font-family: "name-card";
    src: url("../fonts/Yu-Gi-Oh! Matrix Regular Small Caps 2.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "effect-card";
    src: url("../fonts/Yu-Gi-Oh! Matrix Book.otf") format("opentype"), url("../fonts/Yu-Gi-Oh! Matrix Book.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "normal-card";
    src: url("../fonts/Yu-Gi-Oh! ITC Stone Serif LT Italic.otf") format("opentype"), url("../fonts/Yu-Gi-Oh! ITC Stone Serif LT Italic.ttf") format("truetype");
    font-weight: normal;
}


:root {
    --fonte-titulos: "name-card", serif;
    --fonte-texto: "effect-card", serif;
    --fonte-obs: "normal-card", serif;

    --cor0: #d6b475;
    --cor1: #7e2016;
    --cor2: #3b0a04;
    --cor3: #220603;
    --cor4: #130301;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-texto);
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    background-color: var(--cor0);
}


header {
    background-color: var(--cor2);
    text-align: center;
}

header>h1 {
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor4));
    padding: 20px 0px 10px 0px;
}


header>h1>a>img {
    width: 350px;
}

#menuBurguer {
    display: block;
    padding: 2px;
    font-size: 2em;
    background-color: var(--cor4);
    color: var(--cor0);
}

header>menu {
    text-align: center;
    list-style-type: none;
    display: none;
}

header>menu>ul {
    border-bottom: 2px solid var(--cor4);
}

header>menu>ul>li {
    border-top: 2px solid var(--cor0);
}

header>menu>ul>li>a {
    display: block;
    background-color: var(--cor2);
    color: var(--cor0);
    text-decoration: none;
    font-family: var(--fonte-titulos);
    font-size: 1.8em;
    font-weight: normal;
    padding: 3px;
}

header>menu>ul>li>a:hover {
    background-color: var(--cor0);
    color: var(--cor4);
}

main {
    display: block;
    width: 90vw;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;

    background-color: white;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.363);
}

.h2class {
    color: var(--cor1);
    text-align: center;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.514);
    font-family: var(--fonte-titulos);
    font-weight: normal;
    font-size: 3em;
}

main>article>p {
    text-align: justify;
    text-indent: 25px;
    padding-bottom: 10px;
}

strong {
    color: var(--cor3);
}

main li {
    list-style-type: none;
    text-align: justify;
    padding-bottom: 10px;
}

footer {
    width: 100vw;
    text-align: center;
    display: block;
    font-family: var(--fonte-titulos);
    background-image: linear-gradient(to top, var(--cor1), var(--cor4));
}


footer span {
    color: var(--cor0);
    font-weight: bold;
}

.footerTopP {
    padding-top: 5px;
}

div>p {
    padding: 0px 10px 5px 10px;
    color: white;
}

footer>div>p>a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Area de configuração: Classification.html */
.mainClass {
    width: 95vw;
}
#buttonClassification {
    display: block;
    text-align: center;
    margin: 20px;
}

#classPlayer , #classDeck {
    padding: 5px;
    margin-right: 5px;
    background-color: var(--cor2);
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 10px;
    box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.445);
}

.divFrame {
    display: block;
    margin: auto;
    text-align: center;
}

#frameClassification {
    width: 337px;
    height: 675px;
}

#classGeral {
    display: none;
}

#frameGeral {
    width: 342px;
    height: 332px;
}


table {
    margin: auto;
    margin-bottom: 20px;
}

td {
    font-family: var(--fonte-obs);
}

td strong {
    font-family: var(--fonte-obs);
}

#classFirst {
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    background-color: #3232E4;
}

#classPlayoffs {
    display: block;
    width: 25px;
    height: 25px;
    margin-right: 5px;
    background-color: #327A32;
}


#legenda,
#legenda>span>strong {
    margin-top: 15px;
    text-align: center;
    font-family: var(--fonte-obs);
}

#legenda1 {
    display: block;
    margin: 10px;
}

/* CSS página de Games */

#frameJogos {
    width: 330px;
    height: 4213px;
    margin-top: 20px;
}

/* CSS página Torneios anteriores */

.h3Class {
    margin: 20px 0px;
    text-align: center;
    font-family: var(--fonte-titulos);
    font-weight: normal;
    font-size: 2em;
    color: var(--cor3);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.445);
}

#frame2022 {
    width: 329px;
    height: 416px;
}

#frame2021 {
    width: 327px;
    height: 359px;
}

/* CSS para a página da Banlist */
.banlistConfig {
    text-align: center;
}

#forbidden {
    width: 330px;
    height: 1742px
}

#limited {
    width: 330px;
    height: 1225px;
}

#semiLimited {
    width: 330px;
}