@font-face {
    font-family: "yugi-card";
    src: url("../fonts/Yu-Gi-Oh! Matrix Regular Small Caps 2.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');


.conteudo-principal {
    padding: 10px;
}

table {
    border-collapse: collapse;
}

.banlist-table thead tr th {
    background-color: rgb(122, 117, 117);
    color: white;
    padding: 5px 5px;
}

.banlist-table th,
table td {
    border: 3px solid white;
}

.banlist-table {
    display: flex;
    justify-content: center;
}

.card-icon {
    display: block;
    max-width: 45px;
}

.name,
.type,
.restrict {
    padding: 0px 10px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.name {
    font-family: "yugi-card", serif;
    font-size: 21px;
}

.type,
.restrict {
    font-family: 'Roboto', sans-serif;
}

.fusion-back .name,
.fusion-back .type,
.fusion-back .restrict,
.link-back .name,
.link-back .type,
.link-back .restrict,
.xyz-back .name,
.xyz-back .type,
.xyz-back .restrict,
.trap-back .name,
.trap-back .type,
.trap-back .restrict {
    color: rgb(255, 255, 255);
}

.normal-back {
    background-image: linear-gradient(to right, #d6bd8d, #d4a040);
}

.effect-back {
    background-image: linear-gradient(to right, #b49181, #ca734a);
}

.fusion-back {
    background-image: linear-gradient(to right, #9976b9, #611e9c);
}

.link-back {
    background-image: linear-gradient(to right, rgb(196, 85, 85), #006EAD);
}

.synchro-back {
    background-image: linear-gradient(to right, rgb(245, 236, 236), #bcbfc0);
}

.xyz-back {
    background-image: linear-gradient(to right, rgb(114, 112, 112), #323233);
}

.spell-back {
    background-image: linear-gradient(to right, #9dd3c1, #15a072);
}

.trap-back {
    background-image: linear-gradient(to right, #cc618f, #772c4d);
}