@charset "UTF-8";

@font-face {
    font-family: "name-card";
    src: url("../fonts/Yu-Gi-Oh! Matrix Regular Small Caps 2.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "effect-card";
    src: url("../fonts/Yu-Gi-Oh! Matrix Book.otf") format("opentype"), url("../fonts/Yu-Gi-Oh! Matrix Book.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "normal-card";
    src: url("../fonts/Yu-Gi-Oh! ITC Stone Serif LT Italic.otf") format("opentype"), url("../fonts/Yu-Gi-Oh! ITC Stone Serif LT Italic.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "type-card";
    src: url("../fonts/Yu-Gi-Oh! ITC Stone Serif Small Caps Bold.otf") format("opentype"), url("../fonts/Yu-Gi-Oh! ITC Stone Serif Small Caps Bold.ttf") format("truetype");
    font-weight: normal;
}

@font-face {
    font-family: "edition-card";
    src: url("../fonts/Stone Serif Semibold.otf") format("opentype"), url("../fonts/Stone Serif Semibold.ttf") format("truetype");
    font-weight: normal;
}

:root {
    --fonte-titulos: "name-card", serif;
    --fonte-menus: "type-card", serif;
    --fonte-texto: "effect-card", serif;
    --fonte-rodape: "edition-card", serif;
    --fonte-obs: "normal-card", serif;

    --cor0: #e7c481;
    --cor1: #A65729;
    --cor2: #941e1e;
    --cor3: #400601;
    --cor4: #130200;
}

h2 {
    margin-bottom: 20px;
}

h3 {
   font-family: var(--fonte-titulos);
   font-size: 2.5em;
   font-weight: normal;
   text-align: center;
   text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.397);
}


main > article > p {
    text-align: center;
    margin-bottom: 20px;
}

table {
    border-collapse: collapse;
    font-family: var(--fonte-titulos);
    margin: auto;
    margin-bottom: 20px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.445);
}

thead {
    background-color: var(--cor3);
    font-size: 1.4em;
    color: white;
}

thead>tr>th {
    font-weight: normal;
}


tbody>tr:nth-child(even) {
    background-color: var(--cor0);
}

tbody>tr:nth-child(odd) {
    background-color: rgb(240, 231, 231);
}

th,
td {
    font-size: 1.3em;
    text-align: center;
    border: 3px solid white;
}

td > img {
    width: 50px;
    display: block;
}

.padTable {
    padding: 5px 5px;
}